@media (max-width:991px){
    .menu{
        padding: 20px;

    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a{
        color: #ffffff;

    }

    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo{
        display: none;
    }
    .submenu{
        margin-right: 20px;
    }
    .submenu:hover #carrito{
        min-width: 100%;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }
    .header-img{
        display: none;

    }
    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }
    .header-txt h1{
        font-size: 70px;
    }
    .ofert{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }
    .ofert-1{
        margin-bottom: 30px;
    }
    .products{
        padding: 0 30px 30px 30px;
    }
    .products h2{
        margin-bottom: 30px;
    }
    .products-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .product img{
        width: 200px;
        height: 280px;
       
    }
    .footer{
        padding: 30px;
    }
    
}